<div class="container-fluid pt-4">
    <h3 class="text-center border-1 pt-3" style="font-weight:700;">CONTACT US</h3>
    <div class="lines"></div>
    <div class="line"></div>
    <div class="container-fluid text-center pt-2 row">
        <div class="col-12 col-md-4 col-lg-4 text-center border-end border-secondary-light">
            <i class="fa-sharp fa-solid fa-location-dot"></i>
            <h6>Location</h6>
            <address>1/403,Ayyanar
                Nagar,Nilayur,<br>Thiruparankundram,<br>Madurai.</address>
        </div>
        <div class="col-12 col-md-4 col-lg-4 border-end border-secondary-light">
            <i class="fa-solid fa-envelope"></i>
            <h6>Email</h6>
            <span>maduraicitytravels@gmail.com</span>
        </div>
        <div class="col-12 col-md-4 col-lg-4 ">
            <i class="fa-solid fa-phone"></i>
            <h6>Phone</h6>
            <span>8608022446</span>
        </div>
    </div>
    <div class="container-fluid name pt-4">
        <form>
            <div class="d-flex flex-wrap col-12 col-md-12 col-lg-12">
                <div class="col-12 col-md-6 col-lg-6 p-2"><input type="text" placeholder="Your Name"></div>
                <div class="col-12 col-md-6 col-lg-6 p-2"><input type="number"  placeholder="Your Phone"></div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 p-2"><input type="email"  placeholder="Your Email"></div>
            <div class="col-12 col-md-12 col-lg-12 p-2"><textarea placeholder="Message" rows="4"  cols="32"></textarea></div>
            <div class="col-12 col-md-12 col-lg-12 p-2 text-center">
                <button>Send Message</button>
            </div>
        </form>
    </div>
</div>