<div class="container-fluid pt-5">
    <div class="text-center">
        <h3 style="font-weight:700;">BOOKING FOR VEHICLES TYPES & TARIFF</h3>
        <div class="lines"></div>
        <div class="line"></div>
    </div>
    <div class="row d-flex justify-content-around pt-4">
        <div class="card" data-aos="fade-down-right">
            <img src="../../../assets/img/1.jpg" class="card-img-top" height="175em" alt="kuttaralm">
            <div class="card-body">
                <h5 class="card-title">Etios</h5>
                <button class="card-text">Book Now</button>
            </div>
        </div>
        <div class="card" data-aos="fade-down">
            <img src="../../../assets/img/4.jpeg" class="card-img-top" height="175em" alt="kuttaralm">
            <div class="card-body">
                <h5 class="card-title">Toyota</h5>
                <button class="card-text">Book Now</button>
            </div>
        </div>
        <div class="card" data-aos="fade-down">
            <img src="../../../assets/img/9.webp" class="card-img-top" height="175em" alt="kuttaralm">
            <div class="card-body">
                <h5 class="card-title">Van</h5>
                <button class="card-text">Book Now</button>
            </div>
        </div>
        <div class="card" data-aos="fade-down-left">
            <img src="../../../assets/img/11.jpg" class="card-img-top" height="175em" alt="kuttaralm">
            <div class="card-body">
                <h5 class="card-title">Force</h5>
                <button class="card-text">Book Now</button>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5">
    <h3 style="font-weight:700;text-align:center;">Our Favourite Places</h3>
    <div class="lins"></div>
    <div class="lin"></div>
    <!-- <div class="position-relative fav pt-3">
        <img src="./../../../assets/img/tourist-places-in-ooty13.png"
            alt="Kodaikanal" class="w-100"  height="65%" style="opacity:0.8;">
        <div class="position-absolute" style="z-index: 999999;
            word-break: break-word;    top: 65px;
    left: 30px;">
            <h5 style="font-size: 20px;
                color: dimgray;
                font-weight: 700;
                font-family: inherit;">There is Lot of Tourist Places in and around Madurai.<br>Some Important places
                are listed below for</h5>
            <ul style="font-weight:600;font-size: 16px;
                color: #fff;
               ">
                <li class="star">Ooty</li>
                <li class="star">Rameswaram</li>
                <li class="star">Thiruvandram</li>
                <li class="star">Kodaikanal</li>
                <li class="star">Kanyakumari</li>
            </ul>
        </div>
    </div> -->
    
    <div id="carouselExampleCaptions" class="carousel slide pt-3" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./../../../assets/img/ooty-1655457424_bca80f81e8391ebdaaca.webp" class="d-block fav w-100" height="450em" alt="Ooty">
            <div class="carousel-caption d-md-block">
              <h5 style="font-weight: 700;">OOTY</h5>
              <p style="font-weight: 700;">Queen of Hill Station.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/45d9caab-city-49393-16562b9cb96.jpg" class="d-block fav w-100" height="450em" alt="Thiruvandram">
            <div class="carousel-caption d-md-block">
              <h5 style="font-weight: 700;">THIRUVANDRUM</h5>
              <p style="font-weight: 700;">The beauty of Indian Architecture Padmanabaswamy Temple with sunset in full glory.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/3e74bc9f11f46d1a78080c7f0c6a7114.png" class="d-block fav w-100" height="450em" alt="Rameswaram">
            <div class="carousel-caption d-md-block">
              <h5 style="font-weight: 700;">RAMESWARAM</h5>
              <p style="font-weight: 700;">Along the Coromandel coast,set to search for divnity.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/Tour of Kodaikanal.png" class="d-block fav w-100" height="450em" alt="Kodaikanal">
            <div class="carousel-caption d-md-block">
              <h5 style="font-weight: 700;">KODAIKANAL</h5>
              <p style="font-weight: 700;">Princes of Hill Station.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/Kanyakumari_Blog0_1527054545.jpg" class="d-block fav w-100" height="450em" alt="Kanyakumari">
            <div class="carousel-caption d-md-block">
              <h5 style="font-weight: 700;">KANYAKUMARI</h5>
              <p style="font-weight: 700;">The place where two seas meet on Ocean.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>