<div class="head">
    <nav class="navbar navbar-expand-md p-0 m-0" aria-label="Fourth navbar example">
        <div class="container-fluid py-1 px-1 header d-flex">
            <!-- <img src="./../../../assets/img/logo.png" width="100"> -->
            <h6 style="font-weight:700;color:#59654E;">Madurai City Travels</h6>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav">
                    <li class="nav-item" data-bs-toggle="collapse" href="#navbarsExample04" role="button" aria-expanded="false" aria-controls="navbarsExample04" style="padding: 0px 16px;">
                        <a class="nav-link active" aria-current="page" [routerLink]="''"><b>Home</b></a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" href="#navbarsExample04" role="button" aria-expanded="false" aria-controls="navbarsExample04" style="padding: 0px 16px;">
                        <a class="nav-link" [routerLink]="'/booking'"><b>Booking</b></a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" href="#navbarsExample04" role="button" aria-expanded="false" aria-controls="navbarsExample04" style="padding: 0px 16px;">
                        <a class="nav-link" [routerLink]="'/contact'"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>