.card{
    width: 18rem;
    border: none;
    box-shadow: 1px 2px 9px #888888;
}
.lines{
    width: 5%;
    margin: 0px 47%;
    border-bottom: 3px solid #6ABE80;
    
}
.line{
    width: 23%;
    margin: 0px 38%;
    border-bottom: 1px solid #DDDDDD;
}
.lins{
    width: 4%;
    margin: 0px 48%;
    border-bottom: 3px solid #6ABE80;
    
}
.lin{
    width: 12%;
    margin: 0px 44%;
    border-bottom: 1px solid #DDDDDD;
}