<div class="head-carousel" data-aos="fade-up">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/925004352s.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/dpp_0042.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/hotel-vpn-residency07.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/15216894149_5e5d582b53_b.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Shiva-Wallpaper-Moon-cloudy-sky.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/shuttersto-0ddbf0389fbd914.jpg" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Photo size.png" class="d-block w-100" height="500em">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/why-kanyakumari-india-is-worth-visiting-cover.jpeg" class="d-block w-100"
          height="500em">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3">
        <h3 style="font-weight:700;">About Tours & Travels</h3>
        <div class="lines"></div>
        <div class="line"></div>
      </div>
      <div class="col-12 pt-3">
        <p style="text-align: justify;">
          Madurai City Travels is a leading and reputed travel agent in Madurai, Tamil Nadu.
          We had an experience for more than 10 years in travel industry. We provide travel services round the
          clock 24 hours 365 days a year. Our main aim is to give best customer service. We provide you full
          security for your trip by guiding you about the tourist spots, take a professional and personal care.
          We provide you full security for your trip by guiding you about the tourist spots, take a professional and
          personal care,
          various tours and travels packages like Educational tours, Wild life tours, Temple tours and assisting
          various travels arrangement for our customers.
        </p>
      </div>
      <div class="col-12">
        <p style="text-align: justify;">
          Our travel company is maintaining around 15 different vehicles include both A/C and Non A/C cars
          and buses. Our Madurai Tours Travels offers a wide range of travel services like car rental service,
          bus rental service, airline ticketing, hotel reservation, travel insurance, tour packages,
          event management, passport and visa . We design the packages accordingly to the customer request
          and also providing different tour packages. Our professionals do see that every customer’s needs and
          requirements are properly taken care and they do not get disappointed in utilizing our services.
        </p>
      </div>
      <div class="col-12 text-center pt-3">
        <h3 style="font-weight:600;">Toyota | Innova | Swift | Innova Crysta | Tembo Traveler</h3>
      </div>
      <div class="col-12 text-center pt-3">
        <h3 style="font-weight:600;">Get Instant Quote @ 8608022446</h3>
      </div>
      <div class="col-12 text-center pt-3">
        <h2 style="font-weight:700;">HOLIDAYS TOUR PACKAGES</h2>
      </div>
    </div>
    <div class="container-fluid pt-5" >
      <div class="row d-flex justify-content-around pt-4">
        <div class="card">
          <img src="../../assets/img/Five-Falls.png" class="card-img-top pt-2 pt-2" height="165em" alt="kuttaralm">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (4 NIGHTS 5 DAYS) Madurai, Kuttaralm , Tirunelveli …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/1581399544_174271-Solang-Valley-Manali.jpg" class="card-img-top pt-2"
            height="165em" alt="Kodaikanal">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (6 NIGHTS 7 DAYS) Madurai, Himachal Pradesh, Delhi …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/3e74bc9f11f46d1a78080c7f0c6a7114.png" class="card-img-top pt-2" height="165em"
            alt="Rameswaram">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (2 NIGHTS 3 DAYS) Madurai, Rameswaram, Dhanushkodi …
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around pt-4">
        <div class="card">
          <img src="../../assets/img/photo-1593693397690-362cb9666fc2_1620901562617_1620901567544.jpg"
            class="card-img-top pt-2" height="165em" alt="Kerala">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (4 NIGHTS 5 DAYS) Madurai, Kerala , Munnar …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/mysore-palace.jpg" class="card-img-top pt-2" height="165em" alt="Mysore">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (4 NIGHTS 5 DAYS) Madurai, Mysore , Bangalore …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/thanjai.png" class="card-img-top pt-2" height="165em" alt="Thanjavur">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (2 NIGHTS 3 DAYS) Madurai, Thanjavur , Pudukkottai, Velankanni …
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around pt-4">
        <div class="card">
          <img src="../../assets/img/1587106464_ks7.jpg.jpg" class="card-img-top pt-2" height="165em" alt="Ooty">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (4 NIGHTS 5 DAYS) Madurai, Ooty , Gudalur , Dottabetta …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/VALPARAI-FEATURE-compressed.jpg" class="card-img-top pt-2" height="165em"
            alt="Valparai">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (3 NIGHTS 4 DAYS) Madurai, Valparai , Coimbatore …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/shuttersto-62dfac4c783fb8b.jpg" class="card-img-top pt-2" height="165em"
            alt="Thekkady">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (4 NIGHTS 5 DAYS) Madurai, Thekkady , Theni …
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around pt-4">
        <div class="card">
          <img src="../../assets/img/20538511970_1782b479c6_b.jpg" class="card-img-top pt-2" height="165em"
            alt="Trichy">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (1 NIGHTS 2 DAYS) Madurai, Trichy , SriRangamTemple …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/tourism6.png" class="card-img-top pt-2" height="165em" alt="Uvari">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (3 NIGHTS 4 DAYS) Madurai, Uvari , Kanyakumari …
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/c47efbaae3de639d7145c5a8e4e0f2de.jpg" class="card-img-top pt-2" height="165em"
            alt="Madurai">
          <div class="card-body">
            <h5 class="card-title">Package</h5>
            <p class="card-text">
              (1 NIGHTS 2 DAYS) Madurai, Thiruparankundram , AlagarKovil …
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5" style="border-bottom: 2px solid #D2D2D2;"></div>
    <div class="row pt-5">
      <div class="position-relative">
        <img src="../../assets/img/46859090404_b189b09991_b.jpg" class="w-100" height="500em" alt="Rameswaram">
        <div class="position-absolute"  style="z-index: 999999;
        word-break: break-word;
        bottom: 30px;
        left: 50px;">
          <h3 style="color: #fff;font-weight:700;">You can find me where the Music Meets the Ocean.</h3>
        </div>
      </div>
    </div>
    <div class="row pt-5" style="border-bottom: 2px solid #D2D2D2;"></div>
    <div class="row text-center pt-5">
      <h3 style="font-weight:700;">One Day Trip</h3>
      <div class="lins"></div>
      <div class="lin"></div>
    </div>
    <div class="row d-flex justify-content-around pt-4">
      <div class="card">
        <div class="card-header text-center">
          Dhanushkodi
        </div>
        <div class="card-body">
          <img src="../../assets/img/wp8501099.jpg" class="card-img-top" height="165em" alt="Rameswaram">
          <h5 class="card-title pt-3 text-center"> Madurai to Dhanushkodi</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Thiruchedhur
        </div>
        <div class="card-body">
          <img src="../../assets/img/TIRUCHENDUR.jpeg" class="card-img-top" height="165em" alt="Thiruchedhur">
          <h5 class="card-title pt-3 text-center"> Madurai to Thiruchedhur</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Kodaikanal
        </div>
        <div class="card-body">
          <img src="../../assets/img/tourist-places-in-ooty13.png" class="card-img-top" height="165em" alt="Kodaikanal">
          <h5 class="card-title pt-3 text-center"> Madurai to Kodaikanal</h5>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-around pt-4">
      <div class="card">
        <div class="card-header text-center">
          Chettinad
        </div>
        <div class="card-body">
          <img src="../../assets/img/chettinad (1).jpg" class="card-img-top" height="165em" alt="Chettinad">
          <h5 class="card-title pt-3 text-center"> Madurai to Chettinad</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Palani
        </div>
        <div class="card-body">
          <img src="../../assets/img/Palani-Murugan-Temple-2.jpg" class="card-img-top" height="165em" alt="Palani">
          <h5 class="card-title pt-3 text-center"> Madurai to Palani</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Rameswaram
        </div>
        <div class="card-body">
          <img src="../../assets/img/tourist-places-in-rameshwaram1.png" class="card-img-top" height="165em"
            alt="Rameswaram">
          <h5 class="card-title pt-3 text-center"> Madurai to Rameswaram</h5>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-around pt-4">
      <div class="card">
        <div class="card-header text-center">
          Trichy
        </div>
        <div class="card-body">
          <img src="../../assets/img/tourist-places-in-trichy1.png" class="card-img-top" height="165em" alt="Trichy">
          <h5 class="card-title pt-3 text-center"> Madurai to Trichy</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Coimbatore
        </div>
        <div class="card-body">
          <img src="../../assets/img/maruthamalai-temple.jpg" class="card-img-top" height="165em" alt="Coimbatore">
          <h5 class="card-title pt-3 text-center"> Madurai to Coimbatore</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          Theni
        </div>
        <div class="card-body">
          <img src="../../assets/img/Suruli-Falls-2_20190114020304.jpg" class="card-img-top" height="165em" alt="Theni">
          <h5 class="card-title pt-3 text-center"> Madurai to Theni</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="padding-top: 32px;">
    <button style="background: #67BD7E;color: #59654E;
    border: none;padding: 15px 15px;
    border-radius: 12px;"><a class="nav-link" [routerLink]="'/booking'">Click Here for More Booking</a></button>
  </div>
</div>